<div class="card mb-3 small">
    <h5 class="card-header fs-6">{{ feature }}</h5>
    <div class="card-body">
        <p>{{discription}}</p>
    </div>
    <div class="card-footer">
        <a href="#" class="btn btn-success btn-sm">{{ button }}</a>
    </div>
    
</div>

<!-- FEATURE SET -->
<div class="card mt-3">
    <h5 class="card-header fs-6">{{ featureSet.heading }}</h5>
    <div class="card-body">
        <p>{{ featureSet.body }}</p>
    </div>
    <div class="card-footer">
        <a href="{{ featureSet.link }}" class="btn btn-success btn-sm">{{ featureSet.linkText }}</a>
    </div>
</div>